@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #632972ef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 90%;
    background-color: #E8DBDB;
    border-radius: 8px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: hidden;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    background-color: #632972;
    border-radius: 8px 0 0 8px;
    color: white;
    padding: 1rem 2rem;
}

.apresentacao h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.formulario{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    gap:1rem;
}

form{
    width: 100%;
    height: fit-content;
}

.titulo{
    width: 100%;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.5rem;
}

.linhaInput{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:2rem;
}

.containerInput{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.containerInput.wideInput{
    width: 100%;
}

.input, .inputSenha, #textarea {
    width: 100%;
    padding: 0.8rem 0.5rem;
    border: 2px solid #632972;
    border-top-left-radius: 10px;
    background-color: transparent;
    outline: none;
    transition: 0.1s ease;
}

.input:focus + .labelLine,
.input:valid + .labelLine,
.inputSenha:focus + .labelLine,
.inputSenha:valid + .labelLine,
.containerInput input[type="date"]:valid + .labelLine 
{ /* Fix para campos date preenchidos */
    transform: translateY(-32px) translateX(-5px); /* Move para cima */
    font-size: 1rem;
    color: #632972;
    z-index: 10;
}

#textarea:focus + .labelLine,
#textarea:valid + .labelLine 
{
    transform: translateY(-32px) translateX(-5px); /* Mesma translação */
    font-size: 1rem;
    color: #632972;
    z-index: 10;
}

.containerInput input[type="date"] 
{
    color: #444;
    padding: 0.8rem 0.5rem;
}

.labelLine {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #444;
    pointer-events: none;
    transition: 0.3s ease;
    padding: 0 5px;
    transform: translateY(0);
}

#textarea {
    resize: none;
}

#olhoSenha, #olhoConfirma{
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #450e53;
}

.linhaBotao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.linhaBotao button{
    padding: 1rem 0.5rem;
    border-radius: 8px;
    background-color: #632972;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: "Inter", sans-serif;
}

.linhaBotao button:hover{
    background-color: #4b1d5e;
    scale: 1.02;
}

.linhaBotao span{
    color: red;
    margin-right: 1rem;
    font-size: 12px;
    display: none;
}